
<div class="header">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a routerLink="/userHome" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/userBooks" class="nav-link">Books</a>
        </li>
        <li class="nav-item">
            <a routerLink="/booksTaken" class="nav-link active">Books Taken</a>
        </li>
        <li class="nav-item" style="justify-content: right;">
            <a href="#" class="nav-link">Logout</a>
        </li>
    </ul>
</div>

<div class="body">
    <table class="table table-striped">
        <thead>
            <tr>
                <!-- <th>#</th> -->
                <th>ID</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Category</th>
                <th>Published Year</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of bookDetail">
                <!-- <td>{{ count }}</td> -->
                <td>{{ book.bookId }}</td>
                <td>{{ book.bookName }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.category }}</td>
                <td>{{ book.yearPublished }}</td>
            </tr>
        </tbody>
    </table>
</div>