<div class="header">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink='/userBooks' class="nav-link">Books</a>
        </li>
        <li class="nav-item">
            <a routerLink="/booksTaken" class="nav-link">Books Taken</a>
        </li>
        <li class="nav-item" style="justify-content: right;">
            <a href="#" class="nav-link">Logout</a>
        </li>
    </ul>

</div>

<div style="text-align: center;">
    <h1>Hi {{ userDetail[0].username | uppercase }}, Welcome to Library</h1>
    
</div>